* {
  box-sizing: border-box;
}


body {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
}

#wrapper {
  display: flex;
  width: 800px;
}

p {
  margin: 0 20px
}
